@model PluginInfo[]
@{
    ViewData["Title"] = "Index";
}

<h1>Plugin Management</h1>

<button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("Add","Plugins")';">+ Add New</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Port</th>
            <th>State</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Length > 0)
        {
            foreach (var row in Model)
            {
                <tr>
                    <td>@row.Name</td>
                    <td>@row.Version</td>
                    <td>@row.Port</td>>
                    <td>@row.State</td>
                    <td>
                        @if (row.State == "running")
                        {
                            <button type="button" class="btn-danger" onclick="window.location = '@Url.Action("Disable","Plugins", new { name = row.Name, version = row.Version })';">禁用</button>
                        }
                        else if (row.State != "deleted")
                        {
                            <button type="button" class="btn-primary" onclick="window.location = '@Url.Action("Enable","Plugins", new { name = row.Name, version = row.Version })';">启用</button>
                        }
                        @if (row.State != "deleted")
                        {
                            <button type="button" class="btn-danger" onclick="window.location = '@Url.Action("Delete","Plugins", new { name = row.Name, version = row.Version })';">删除</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No Data.</td>
            </tr>
        }
    </tbody>
</table>


