@model List<dynamic>
@{
    ViewData["Title"] = "Index";
}

<h1>Plugin Management</h1>

<button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("Add","Plugins")';">+ Add New</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Version</th>
            <th>Name</th>
            <th>DisplayName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var row in Model)
            {
                <tr>
                    <td>@row.Name</td>
                    <td>@row.Version</td>
                    <td>@row.DisplayName</td>
                    <td>
                        @if (row.IsEnabled)
                        {
                            <button type="button" class="btn-danger" onclick="window.location = '@Url.Action("Disable","Plugins", new { name = row.Name })';">Disable</button>
                        }
                        else
                        {
                            <button type="button" class="btn-primary" onclick="window.location = '@Url.Action("Enable","Plugins", new { name = row.Name })';">Enable</button>
                        }

                        <button type="button" class="btn-danger" onclick="window.location = '@Url.Action("Delete","Plugins", new { name = row.Name })';">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No Data.</td>
            </tr>
        }
    </tbody>
</table>


